<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />

    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>

    <style>
      .sidebar-nav {
        margin-top: 20px;
        padding: 0;
        list-style: none;
      }

      .main-content {
        margin-top: 10px;
      }
    </style>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2">
          <ul class="sidebar-nav">
            <li><a href="/catalog">Home</a></li>
            <li><a href="/catalog/books">All books</a></li>
            <li><a href="/catalog/authors">All authors</a></li>
            <li><a href="/catalog/genres">All genres</a></li>
            <li><a href="/catalog/bookinstances">All book-instances</a></li>
            <li>
              <hr />
            </li>
            <li><a href="/catalog/author/create">Create new author</a></li>
            <li><a href="/catalog/genre/create">Create new genre</a></li>
            <li><a href="/catalog/book/create">Create new book</a></li>
            <li>
              <a href="/catalog/bookinstance/create"
                >Create new book instance (copy)</a
              >
            </li>
          </ul>
        </div>
        <div class="col-sm-10 main-content">
          <h1><%= title %></h1>

          <form method="POST" action="">
            <div class="form-group">
              <label for="title">Title: </label>
              <input class="form-control" id="title" type="text"
              placeholder="Name of the book" name="title" required="true" value= "<%= typeof book === 'undefined' ? "" : book_title %>" >
            </div>

            <div class="form-group">
              <label for="author">Author: </label>

              <select class="form-control" id="author" type="select" placeholder="Select author" name="author" required="true">

                <% authors.sort(function(a, b) {let textA = a.family_name.toUpperCase(); let textB = b.family_name.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});%> 

                <% for(let author of authors) {%> 
                  <%if(typeof book !== 'undefined') {%>
                    <option value="<%= author._id %>"
                      <%= (author._id.toString()==book.author._id || author._id.toString()==book.author) ? "selected" : ""%> ><%= author.name %>
                    </option>
                  <%} else { %>
                    <option value="<%= author._id %>"><%= author.name %></option>
                  <%} %> 
                <%} %>
              </select>
            </div>

            <div class="form-group">
              <label for="summary">Summary: </label>
              <textarea
                class="form-control"
                id="summary"
                type="textarea"
                placeholder="Summary"
                name="summary"
                required="true"
              ><%= typeof book === 'undefined' ? "" : book.summary %></textarea>
            </div>

            <div class="form-group">
              <label for="isbn">ISBN: </label>
              <input
                class="form-control"
                id="isbn"
                type="text"
                placeholder="ISBN13"
                name="isbn"
                required="true"
                value = "<%= typeof book === 'undefined' ? "" : book.isbn %>">
            </div>

            <div class="form-group">
              <label for="">Genre: </label>
              <div>
                <% for(let genre of genres) {%>
                  <div style="display: inline; padding-right:10px;">
                    <input type="checkbox" class="checkbox-input" name="genre" id = "<%= genre._id %>" value = "<%= genre._id %>" <%= genre.checked ? "checked" : "" %> >
                    <label for = "<%= genre._id %>" ><%= genre.name %></label>
                  </div>
                <%} %>
              </div>
            </div>

            <button class="btn btn-primary" type="submit">Submit</button>
          </form>

          <% if(typeof errors !== 'undefined') {%>
          <ul>
            <% for(let error of errors) {%>
            <li><%= error.msg %></li>
            <%} %>
          </ul>
          <%} %>
        </div>
      </div>
    </div>
  </body>
</html>
